body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color:black;
  color: white;


}

header {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 340px;
  color:black;
}
#gameBoard{
  justify-content: center;
}


.cell {
  background-color:transparent;
  color: white;
  /* border-bottom: 5px solid red; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  border-radius: 0px;

}
/* .cell:nth-child(0n+0), */
.cell:nth-child(1n+0)
 {
  border-bottom: 4px solid red;
  border-left: 4px solid red;
}

.cell:nth-child(3n+1) {
  border-left: none;
}
.cell:nth-child(n+7) {
  border-bottom: none;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}
.restartButton{
  border-radius: 10px ;
  margin-top: 10px;
  background-color: greenyellow;
  cursor: pointer;
  /* border: 0px; */
  
  
}

.result {
  text-align: center;
  padding: 10px;
}

.outcome {
  font-size: 24px;
  margin-top: 20px;
}
#resultMessage{
  font-size:x-large;
}
.container-body {

  /* margin-top: 150px; */
  padding-top:200px ;
  margin-top: 50px;

}
