body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: white;
  color: white;


}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  /* width: 340px; */
  color:black;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
#gameBoard{
  justify-content: center;
  margin-left: 38px;
}


.cell {
  background-color:transparent;
  color: white;
  /* border-bottom: 5px solid red; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  border-radius: 0px;
 
  

}
/* .cell:nth-child(0n+0), */
.cell:nth-child(1n+0)
 {
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  
  
}

.cell:nth-child(3n+1) {
  border-left: none;
  
}
.cell:nth-child(n+7) {
  border-bottom: none;
  
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}
.restartButton{
  border-radius: 10px ;
  margin-top: 10px;
  background-color: greenyellow;
  cursor: pointer;
  /* border: 0px; */
  
  
}

.result {
  text-align: center;
  padding: 10px;
}

.outcome {
  font-size: 24px;
  margin-top: 20px;
}
#resultMessage{
  font-size:x-large;
}
.container-body {

  margin-top: 30px; 
  
 
}

.bord {
  margin-top: 20px;
  border: 10px solid blue;
  border-style:none;
  padding: 30px;
  padding-left: 6px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color:  black;
  border-radius: 10px;
}


h1 {
  color: aqua;
  text-align: center;
}

.opetion {
  list-style-type: none;
  padding: 0;
}

.opetion li {
  margin-bottom: 10px;
}

.opetion input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}

.difficulty {
  margin-left: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {

  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* Media queries for responsive design */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
  
  .opetion li {
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  button {
    padding: 5px 10px;
  }
}
.box {

  
}
